@import './base.css';



.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .wrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .wrapper {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        width: 1170px;
    }
}


.section-focused {
    animation-name: flash;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0,1,.5,1);
}

@keyframes flash {
    0% {
        background-color: #b5effc;
        transform: scale(90%);
    }
    100% {
        transform: scale(100%);
    }

}

a{
    color: var(--primary);
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;

}
.is-sticky-top {
    position: sticky;
    z-index: 1;

}

.nav-hidden {
    top: -100%;
    transition: all 1s linear;

}

.nav-active{
    top: -1px;
    transition: all 0.5s cubic-bezier(.11,1.11,.81,1.03);
    background: var(--primary);
}

.nav-active a{
    color: white !important;
}

.nav-normal{
    top: -1px;
    transition: all 0.5s cubic-bezier(.11,1.11,.81,1.03);
    background: white;
}

.nav-normal #logo{
    color: var(--primary);
}

.job-item{
    margin-bottom: 2rem;
}